@model ResetPasswordData
@{
var queryCollection = Context.Request.Query;
var routeData = new Dictionary<string, string>(queryCollection.Select(x => new KeyValuePair<string, string>(x.Key, x.Value!)));
}
<div class="row">
    <div class="col-lg-6 d-lg-block bg-login-image position-relative">
        <div class="position-absolute bottom-0 start-0 w-100 text-center p-1" style="background-color: #3b488e; margin-left: -12px;">
            <img src="/images/logo_s1.png" alt="Logo" class="img-fluid" style="max-height: 60px;    " />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center mb-4">
                <h1 class="h4 text-gray-900">Reset Your Password</h1>
                <p class="text-muted">Enter your email, reset code, and new password</p>
            </div>
            <form class="user" asp-action="ResetPassword" asp-all-route-data="routeData">
                <div class="form-group">
                    <input type="email" asp-for="Email" class="form-control form-control-user" placeholder="Enter Email Address..." />
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="ResetCode" class="form-control form-control-user" placeholder="Enter Reset Code..." />
                    <span asp-validation-for="ResetCode" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="NewPassword" class="form-control form-control-user" placeholder="Enter New Password..." />
                    <span asp-validation-for="NewPassword" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Confirm New Password..." />
                    <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Reset Password
                    </button>
                </div>
              
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <br />
                    <div class="text-center">
                        <h1 class="h6 text-red-900 mt-1" style="color: red">@Model.ErrorMessage</h1>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                {
                    <br />
                    <div class="text-center">
                        <h1 class="h6 text-green-900 mt-1" style="color: green">@Model.SuccessMessage</h1>
                    </div>
                }
              
    
            </form>
            <hr>
            <div class="text-center">
                <a class="small" asp-action="Index" asp-controller="Login">Back to Login</a>
            </div>
            <div class="text-center">
                <a class="small" asp-action="ForgotPassword" asp-controller="Login">Request New Reset Code</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
